.btn {
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus,
  &:hover {
    background: #355ff6;
  }

  &:active {
    transform: scale(0.9);
    background: #4e75ff;
  }
}

#granim-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
