body {
  background-color: rgb(180, 215, 227);
}

.timer-input {
  border: none;
  min-width: 20%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 20px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  gap: 20px;

  align-items: sp;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 64px; // великі цифри
  font-weight: 400;
  color: #000;
  line-height: 1;
}
.label {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem; // менші букви під цифрами
  font-weight: 500;
  letter-spacing: 1px;
  color: #555;
  margin-top: 0.3rem;
  text-transform: uppercase;
}

// - interactive bgm
