* {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
body {
  background-color: rgb(180, 215, 227);
}

.timer-input {
  text-align: center;
  border: none;
  // min-width: 20%;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  // color: #2e2f42;
  margin-bottom: 20px;
  background-color: #ffffffc4;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  gap: 20px;

  align-items: sp;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  // font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 64px; // великі цифри
  font-weight: 400;
  color: #211e2af3;
  line-height: 1;
}
.label {
  // font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem; // менші букви під цифрами
  font-weight: 500;
  letter-spacing: 1px;
  color: #555;
  margin-top: 0.3rem;
  text-transform: uppercase;
}

//: input and button

.btn[data-start='disable'] {
  background-color: #cccccc5d;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}

.btn[data-start='enable'] {
  // border: 2px solid rgb(92, 255, 114);
}

.timer-input[data-active='disable'] {
  background-color: #ffffff2b;
  cursor: not-allowed;
  pointer-events: none;
}
