// Base settings
@use './base/elements';
@use './base/reset';
// Pages styles
@use './pages/timer';
@use './pages/snackbar';
// Library style
@import './libs/simplelightbox-custom';
@import 'simplelightbox/src/simple-lightbox.scss';
// @import 'flatpickr/dist/flatpickr.min.css';
