// Base settings
@use './base/elements';
@use './base/reset';
// Pages styles
@use './pages/1-timer';
@use './pages/2-snackbar';
// Library style
@import './libs/simplelightbox-custom';
@import 'simplelightbox/src/simple-lightbox.scss';
@import 'flatpickr/dist/flatpickr.min.css';
