// Base settings
@use './base/elements';
@use './base/reset';
// Pages styles
@use './pages/timer';
@use './pages/snackbar';
// Library style
@import 'flatpickr/dist/flatpickr.min.css';
@import '/scss/libs/flatpickr-custom';

@import 'izitoast/dist/css/iziToast.min.css';
@import '/scss/libs/iziToast-custom';
